body{
    font-size: 1rem;
    margin: 0;
}
.header{
    background-color: #4D658E;
    color: #EEEEEE;
    padding: 25px 5%;
    display: flex;
}

.title{
    font-size: 1.7rem;
    flex: 1 0 30%;
}

.navbar{
    font-size: 1.2rem;
    flex: 1 0 70%;
    justify-content: start;
}

.navbar-btn{
    padding: 0;
    background-color: #4D658E;
    color: #EEEEEE;
    border: none;
    margin: 0 2%;
    transition: 2s;
    font-size: 1rem;
}

.navbar-btn:after {
    content: "";
    display: flex;
    background: #000;
    height: 4px;
    width: 0;
    transition: all 0.3s ease-in-out;
}

.navbar-btn.active:after {
    width: 100%;
}

.navbar-btn:hover:after {
    width: 100%;
}

.navbar-btn:hover{
    cursor: pointer;
}

.data{
    padding: 25px 10%;
}

.table-data{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table-data-row{
    display: flex;
    height: 2em;
}

.collapsing{
    transition: height 1s ease-in-out;
}

.table-header{
    display: flex;
    height: 2.5em;
    font-weight: bold;
    font-size: 1.1em;
}

.table-header > * {
    align-items: center;
}

.table-header > div:nth-of-type(1), .table-data-row > div:nth-of-type(1){display: flex; flex: 1 0 30%;}
.table-header > div:nth-of-type(2), .table-data-row > div:nth-of-type(2){display: flex; flex: 1 0 30%;}
.table-header > div:nth-of-type(3), .table-data-row > div:nth-of-type(3){display: flex; flex: 1 0 13%;}
.table-header > div:nth-of-type(4), .table-data-row > div:nth-of-type(4){display: flex; flex: 1 0 13%;}
.table-header > div:nth-of-type(5), .table-data-row > div:nth-of-type(5){display: flex; flex: 1 0 13%;}

.table-data-row.top-group-data > div:nth-of-type(1), .table-data-row.bottom-group-data > div:nth-of-type(1) {flex: 1 0 60%;}
.table-data-row.top-group-data > div:nth-of-type(2), .table-data-row.bottom-group-data > div:nth-of-type(2) {flex: 1 0 13%;}
.table-data-row.top-group-data > div:nth-of-type(3), .table-data-row.bottom-group-data > div:nth-of-type(3) {flex: 1 0 13%;}
.table-data-row.top-group-data > div:nth-of-type(4), .table-data-row.bottom-group-data > div:nth-of-type(4) {flex: 1 0 13%;}

.table-header > div:nth-of-type(n+3),
.table-data-row.top-group-data > div:nth-of-type(n+2),
.table-data-row.bottom-group-data > div:nth-of-type(n+2),
.table-data-row > div:nth-of-type(n+3) {
    justify-content: flex-end;
}

.top-group-data > *{
    align-items: center;
}

.top-group-data{
    height: 2.5em;
}

.table-data-group > .table-data-row:hover{
    background-color: #d0ddf4;
}

.table-data-group > .table-data-row > *{
    align-items: center;
}

.table-break{
    border: 0.5px solid;
}

.top-group-data:hover{
    background-color: #849ecc;
    cursor: pointer;
}

.hide{
    height: 0;
}

.date-sort > span,
.domain-sort > span,
.transfer-sort > span,
.cache-sort > span,
.total-sort > span{
    cursor: pointer;
}

.date-sort > .fa-sort,
.domain-sort > .fa-sort,
.transfer-sort > .fa-sort,
.cache-sort > .fa-sort,
.total-sort > .fa-sort{
    color: #888;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .5 ease-in-out;
         -o-transition: height .5 ease-in-out;
            transition: height .5 ease-in-out;
  }
