body{
    margin: 0;
}
.header{
    background-color: #4D658E;
    color: #EEEEEE;
    padding: 25px 5%;
    display: flex;
}

.title{
    font-size: 2em;
    flex: 1 0 30%;
}

.navbar{
    font-size: 1.6em;
    flex: 1 0 70%;
    justify-content: start;
}

.navbar-btn{
    font-size: 1em;
    padding: 0;
    background-color: #4D658E;
    color: #EEEEEE;
    border: none;
    margin: 0 2%;
    transition: 2s;
}

.navbar-btn:after {
    content: "";
    display: flex;
    background: #000;
    height: 4px;
    width: 0;
    transition: all 0.3s ease-in-out;
}

.navbar-btn.active:after {
    width: 100%;
}

.navbar-btn:hover:after {
    width: 100%;
}

.navbar-btn:hover{
    cursor: pointer;
}

.data{
    padding: 25px 10%;
}

tr{
    height: 2em;
}

tr.table-line{
    height: 0;
}

tr.table-line>td{
    border-bottom: 1px solid black;
}

.table-data{
    width: 100%;
    font-size: 1.2em;
}

.table-data-row [rowspan]{
    vertical-align: top;
}

.table-data-row:nth-of-type((n+3)*2){
/* .table-data-row :nth-child(n+3) { */
    /* text-align: right; */
    color: red;
}